# --- Godot 4 Específico ---
.godot/
*.uid
.import/
*.translation

# --- Android (Lo que más pesa en tu RAR) ---
android/build/
android/.gradle/
android/local.properties
android/libs/godot-lib.template*
*.apk
*.aab

# --- Exportaciones y Binarios ---
APK/
bin/
build/
*.pck
*.exe
*.zip

# --- Archivos de Sistema y Editores ---
.DS_Store
Thumbs.db
*.tmp
*.lnk